html,
#mapid,
body,

html {
  height: 100%;
}

.legend {
  line-height: 20px;
  color: black;
  float: center;
}

.legend i {
  width: 12px;
  height: 12px;
  float: left;
  margin-right: 20px;
  background:cornflowerblue;
  opacity: 1;
}

.info {
  padding: 8px 10px;
  font: 10px/20px Comic, sans-serif;
  float: right;
  text-align: center;
  align-content: center;
  background:cornflowerblue;
  border-radius: 10px;
}

.leaflet-control-layers-expanded {
  padding: 8px 10px;
  font: 10px/20px Comic, sans-serif;
  float: right;
  text-align: left;
  align-content: center;
  background:cornflowerblue;
  border-radius: 10px;
}